mixin smile()
  section.textList.textList_smile
    div.textList__title Комфорт
    div.textList__subtTitle Шумопоглощающие стены

mixin city()
  section.textList.textList_city
    div.textList__title Удобство
    div.textList__subtTitle Окно в каждой из спален

mixin comfort()
  section.textList.textList_comfort
    div.textList__title Уют
    div.textList__subtTitle Номер оснащен камином 