mixin room-search(title)
  section.room-search
    div.room-search__title=title 
    div.room-search__item 
      include ../two-input-range/two-input-range.pug
      +two-input-range()
    div.room-search__item 
      include ../drop-down/drop-down.pug
      +drop-down({
        title : 'гости',
        list : [
          "взрослые",
          "дети",
          "младенцы",
        ], 
      })
    div.room-search__item 
      include ../buttons/buttons.pug
      +buttons({
        btnSwitch:'btn-Form',
        text:'подобрать номер',
        href:'search-room.html'
      })