mixin sign-in()
  section.sign-in
    div.sign-in__title Войти
    div.sign-in__item
      include ../input-form/input-form.pug
      +input-form({placeholder:'Email'})
    div.sign-in__item
      include ../input-form/input-form.pug
      +input-form({placeholder:'Пароль'})
    div.sign-in__item
      include ../buttons/buttons.pug
      +buttons('Войти','btnForm')
    div.sign-in__item
      span.sign-in__item-text Нет аккаунта на Toxin?
      include ../buttons/buttons.pug
      +buttons('создать','withBorder')


