doctype html
html
  head
    meta(charset = 'utf-8')
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin Hotel
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="manifest" href="./favicons/site.webmanifest")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    include ../components/head/head.pug
    +head()
    section.searchRoom
      div.searchRoom__row
        div.searchRoom__row-left
          div.searchRoom__row-left-item
            include ../components/data-dropdown/data-dropdown.pug
            +data-dropdown-filter('даты пребывания в отеле')
          div.searchRoom__row-left-item
            include ../components/dropDown/dropDown.pug
            +dropDown('','гости')
          div.searchRoom__row-left-item
            include ../components/range-slider/range-slider.pug
            +range-slider('диапазон цены','Стоимость за сутки пребывания в номере')
          div.searchRoom__row-left-item
            include ../components/checkboxList/checkboxList.pug
            +checkboxButtons('правила дома')
          div.searchRoom__row-left-item
            include ../components/richCheckboxBtn/richCheckboxBtn.pug
            +richCheckboxBtn('доступность')
          div.searchRoom__row-left-item
            include ../components/dropDownBed/dropDownBed.pug
            +dropDownBed('','удобства номера')
          div.searchRoom__row-left-item
            include ../components/checkboxList/checkboxList.pug
            +checkboxList('','','дополнительные удобства')
        div.searchRoom__row-right
          div.searchRoom__row-right-title Номера, которые мы для вас подобрали
          div.searchRoom__row-right-items
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/roomDetail/image.png',
                './img/photo/image-2.png',
                './img/photo/image-3.png',
                './img/photo/image-4.png'],
                888,
                '9 990₽',
                5,
                145)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                840,
                '9 990₽',
                4,
                65)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                980,
                '8 500₽',
                3,
                35)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-11.png',
                './img/photo/image-12.png',
                './img/roomDetail/image.png',
                './img/photo/image-2.png'],
                856,
                '7 300₽',
                5,
                19)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                740,
                '6 000₽',
                4,
                44)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                982,
                '5 800₽',
                5,
                56)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-11.png',
                './img/photo/image-12.png',
                './img/roomDetail/image.png',
                './img/photo/image-2.png'],
                672,
                '5 500₽',
                5,
                45)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                450,
                '5 300₽',
                4,
                39)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                350,
                '5 000₽',
                3,
                77)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                666,
                '5 000₽',
                5,
                25)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                444,
                '5 000₽',
                3,
                15)
            div.searchRoom__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                352,
                '5 000₽',
                3,
                55)
          div.searchRoom__row-right-pagination
            include ../components/pagination/pagination.pug
            +pagination()
      include ../components/footer/footer.pug
      +footer()