mixin data-dropdown(data)
    input.datepicker-here.data-dropdown__input(type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
mixin data-dropdown-filter(title)
    div.data-dropdown-filter__title=title 
    input.datepicker-here.datepicker-filter(type="text" data-range="true" data-multiple-dates-separator=" - " data-clear-Button="true" data-apply-Button="true" dateFormat="dd")