mixin like-button(options)
  -
    const {
      likeCount = 0,
      isClick = false,
    } = options;
    
    const classClick = isClick ? 'like-button_action' : ''

  section(class='like-button js-like-button ' + classClick)
    div.like-button__count.js-like-button__count=likeCount