
mixin accountRegistration(title)
  section.accountRegistration
    div.accountRegistration__title=title
    div.accountRegistration__item
      include ../inputForm/inputForm.pug
      +inputForm('','','Имя')
    div.accountRegistration__item
      include ../inputForm/inputForm.pug
      +inputForm('','','Фамилия')
    div.accountRegistration__item
      include ../radioButtons/radioButtons.pug
      +radioButtons('')
    div.accountRegistration__item
      include ../inputFormMask/inputFormMask.pug
      +inputFormMask('дата рождения')
    div.accountRegistration__item
      div.accountRegistration__item-title данные для входа в сервис
      include ../inputForm/inputForm.pug
      +inputForm('','','Email')
    div.accountRegistration__item
      include ../inputForm/inputForm.pug
      +inputForm('','','Пароль')
    div.accountRegistration__item
      include ../toggle/toggle.pug
      +toggle('Получать спецпредложения',false)
    div.accountRegistration__item
      include ../buttons/buttons.pug
      +btnForm('перейти к оплате')
    div.accountRegistration__item
      div.accountRegistration__footer
        span Уже есть аккаунт на Toxin
        include ../buttons/buttons.pug
        +btnWithBorder('войти')
      