mixin form-to-book()
  section.form-to-book
    div.form-to-book__header 
      include ../text-pay-and-number/text-pay-and-number.pug
      +text-pay-and-number('888','9 990₽')
    div.form-to-book__item
      include ../calendar/calendar.pug
      +calendar({isDouble:true})
    div.form-to-book__item
      include ../drop-down/drop-down.pug
      +drop-down({
        title : 'гости',
        list : [
          "взрослые",
          "дети",
          "младенцы",
        ], 
      })
    div.form-to-book__item
      span.form-to-book__text 9 990₽ х 4 суток 
      span.form-to-book__text 39 960₽ 
    div.form-to-book__item
      span.form-to-book__text Сбор за услуги: скидка 2 179₽ 
      span.form-to-book__text 0₽ 
    div.form-to-book__item
      span.form-to-book__text Сбор за дополнительные </br> услуги
      span.form-to-book__text 300₽ 
    div.form-to-book__item
      span.form-to-book__text-total Итого 
      span.form-to-book__text-total 38 081₽ 
    div.form-to-book__item
      include ../buttons/buttons.pug
      +buttons('забронировать','btn-Form') 


