mixin smile()
  section.text-list.text-list_smile
    div.text-list__title Комфорт
    div.text-list__subtTitle Шумопоглощающие стены

mixin city()
  section.text-list.text-list_city
    div.text-list__title Удобство
    div.text-list__subtTitle Окно в каждой из спален

mixin comfort()
  section.text-list.text-list_comfort
    div.text-list__title Уют
    div.text-list__subtTitle Номер оснащен камином 