mixin comfortList(options= {})
  -
    const {
      list = [
        {className:'text-list_smile', title:'Комфорт', subTitle:'Шумопоглощающие стены'},
        {className:'text-list_city', title:'Удобство', subTitle:'Окно в каждой из спален'},
      ]} = options;
  -for(let {className,title,subTitle} of list)
    section(class = 'text-list '+className)
      div.text-list__title=title
      div.text-list__subtTitle=subTitle