mixin btnWithBackColor(name)
  button.btnWithBackColor=name
mixin btnWithBorder(name)
  button.btnWithBorder=name
mixin btnJustName(name)
  button.btnJustName=name
mixin btnForm(name)
  button(class='btnForm' type='submit')=name