mixin buttons(options = {})
  -
    const {
      text = 'CLICK ME',
      href = '#',
      modifier=[], 
    } = options;

    const classModifer = modifier.map(item=>' btn__link_'+item);
  section.btn
    a(class=['btn__link'].concat(classModifer) href=href)=text 

