mixin buttons(text,btnSwitch,className,href)
  case btnSwitch
    when 'withBackColor': button.btnWithBackColor=text
    when 'withBorder': a(class='btn-with-border '+className href='main-sign-in.html')=text
    when 'justBtn':  button.btnJustName=text
    when 'btn-Form':  a(class='btn-Form '+className  href=href)=text