mixin btnWithBackColor(name)
  button.btnWithBackColor=name
mixin btnWithBorder(name,className)
  a(class='btnWithBorder '+className href='mainSignIn.html')=name
mixin btnJustName(name)
  button.btnJustName=name
mixin btnForm(name,className)
  button(class='btnForm '+className type='submit')=name