mixin buttons(options = {})
  -
    const {
      text = 'CLICK ME',
      href = '#',
      modifer = ''
    } = options;

    let classModifer = modifer? ' btn_'+modifer : '';

  a(class='btn'+classModifer href=href)=text 

