mixin buttons(options = {})
  -
    const {
      text = 'CLICK ME',
      href = '#',
      modifier=[], 
    } = options;
    
    const classModifier = modifier.map(item=>' btn__link_'+item);

  section.btn
    a(class=['btn__link'].concat(classModifier) href=href)=text 

