mixin input-form(options = {})
  - 
    const { 
      isActive = false,
      value = '',
      placeholder = '',
      isForm = false,
      isFooter = false,
    } = options;
    const classActive = isActive ? 'input-form_active' : '';
    const classModification = isFooter ? ' input-form_width-260' : '';

  if(isForm)
    form(action="#" class='input-formEmail'+classModification) 
      input(class='input-form input-form_email' type="text" placeholder="Email")
      button(class='input-form__email-btn' type="submit")
  else
    input(class='input-form '+classActive type="text" value=value placeholder=placeholder)