mixin rich-checkbox-btnItem(subTitle,text)
  div.rich-checkbox-btn__item
    label.rich-checkbox-btn__check
      input(class='rich-checkbox-btn__checkbox' type="checkbox")
      span.rich-checkbox-btn__subTitle=subTitle
    div.rich-checkbox-btn__text!=text

mixin rich-checkbox-btn(title)
  section.rich-checkbox-btn=title
  div.div.rich-checkbox-btn__wrapper
    div.rich-checkbox-btn__item  
    +rich-checkbox-btnItem('Широкий коридор','Ширина коридоров в номере</br> не менее 91 см.') 
    +rich-checkbox-btnItem('Помощник для инвалидов','На 1 этаже вас встретит специалист</br>  и проводит до номера.') 