mixin dropDownBedItem(className,title,count)
  div.dropDownBed__bodyItem
    div.dropDownBed__bodyItem-title=title
    div.dropDownBed__bodyItem-btns 
      button(class='dropDownBed__bodyItem-btns-inc '+className) -
      div.dropDownBed__bodyItem-btns-count=count
      button.dropDownBed__bodyItem-btns-dec +
mixin dropDownBed(className,title)
  section.dropDownBed
    div.dropDownBed__title=title
    div.dropDownBed__header
      button.dropDownBed__titleBtn 2 спальни, 2 кровати...
    div(class='dropDownBed__body ' + className)
      +dropDownBedItem('dropDownBed__bodyItem-btns-inc_active','спальни','2')
      +dropDownBedItem('dropDownBed__bodyItem-btns-inc_active','кровати','2')
      +dropDownBedItem('','ванные комнаты','0')


