doctype html
html
  head
    meta(charset = 'utf-8')
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin Hotel
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="manifest" href="./favicons/site.webmanifest")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    include ../components/head/head.pug
    +head()
    section.search-room
      div.search-room__row
        div.search-room__row-left
          div.search-room__row-left-item
            include ../components/data-drop-down/data-drop-down.pug
            +data-drop-down-filter('даты пребывания в отеле')
          div.search-room__row-left-item
            include ../components/drop-down/drop-down.pug
            +drop-down('','гости')
          div.search-room__row-left-item
            include ../components/range-slider/range-slider.pug
            +range-slider('диапазон цены','Стоимость за сутки пребывания в номере')
          div.search-room__row-left-item
            include ../components/checkbox-list/checkbox-list.pug
            +checkboxButtons('правила дома')
          div.search-room__row-left-item
            include ../components/rich-checkbox-btn/rich-checkbox-btn.pug
            +rich-checkbox-btn('доступность')
          div.search-room__row-left-item
            include ../components/drop-down-bed/drop-down-bed.pug
            +drop-down-bed('','удобства номера')
          div.search-room__row-left-item
            include ../components/checkbox-list/checkbox-list.pug
            +checkbox-list('','','дополнительные удобства')
        div.search-room__row-right
          div.search-room__row-right-title Номера, которые мы для вас подобрали
          div.search-room__row-right-items
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/roomDetail/image.png',
                './img/photo/image-2.png',
                './img/photo/image-3.png',
                './img/photo/image-4.png'],
                888,
                '9 990₽',
                5,
                145)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                840,
                '9 990₽',
                4,
                65)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                980,
                '8 500₽',
                3,
                35)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-11.png',
                './img/photo/image-12.png',
                './img/roomDetail/image.png',
                './img/photo/image-2.png'],
                856,
                '7 300₽',
                5,
                19)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                740,
                '6 000₽',
                4,
                44)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                982,
                '5 800₽',
                5,
                56)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-11.png',
                './img/photo/image-12.png',
                './img/roomDetail/image.png',
                './img/photo/image-2.png'],
                672,
                '5 500₽',
                5,
                45)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-3.png',
                './img/photo/image-4.png',
                './img/photo/image-5.png',
                './img/photo/image-6.png'],
                450,
                '5 300₽',
                4,
                39)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                350,
                '5 000₽',
                3,
                77)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                666,
                '5 000₽',
                5,
                25)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                444,
                '5 000₽',
                3,
                15)
            div.search-room__row-right-item
              include ../components/slide/slide.pug
              +slide(
                ['./img/photo/image-7.png',
                './img/photo/image-8.png',
                './img/photo/image-9.png',
                './img/photo/image-10.png'],
                352,
                '5 000₽',
                3,
                55)
          div.search-room__row-right-pagination
            include ../components/pagination/pagination.pug
            +pagination()
      include ../components/footer/footer.pug
      +footer()