include ../buttons/buttons.pug

mixin head(options = {})
  - 
    const {
      nameUser = '', 
      text = 'Правила',
      list = [
        {text: 'О нас', className:'head__link_bold', href:'color-and-type.html', flag : false},
        {text: 'Услуги', className:'', href:'form-elements.html', flag : true},
        {text: 'Вакансии', className:'', href:'cards.html', flag : false},
        {text: 'Новости', className:'', href:'header-and-footer.html', flag : false},
        {text: 'Соглашения', className:'', href:'', flag : true}
      ], 
    } = options;

  - var className=nameUser ? 'head__item_name':''

  header.head
    div(class='head__item '+className)
      a(href='index.html').head__link
        img(src="./img/Logo.svg", alt="")
      ul.head__list
        -for(let {text,className,href,flag} of list)
          li(class='head__link '+className)
            a(href=href)=text
            if(flag)
              button.head__link_downBtn 
        if (nameUser)
          span.head__link.head__link_name=nameUser
        else
          li.head__link
            +buttons('войти','withBorder','btnWithBorder_head')
          li.head__link
            +buttons('зарегистрироваться','btnForm','btnForm_head','registration.html') 