.mainSignIn {
  max-width: 1440px;
  margin: 0px auto;
  height: 704px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/backgrond/signIN.png')no-repeat 50%;
}