mixin color-text(options = { })
  -
    const {
      title = '',
      text = '',
      size =''
    } = options 
    const sizeClass = `color-text_${size}`
  section(class='color-text ' + sizeClass)
    div.color-text__title=title 
    div.color-text__subTitle!=text 