mixin color-text(options = { })
  -
    const {
      title = '',
      text = '',
      size ='14'
    } = options 
    const sizeClass = `color-text_size-${size}`
  section(class='color-text ' + sizeClass)
    div.color-text__title=title 
    div.color-text__sub-title!=text 