doctype html
html
  head
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin Hotel
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
    link(rel="manifest" href="./favicons/site.webmanifest")
    link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
  body
    section.formElements
      div.formElements__row
        div.formElements__row-input
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title Text Field
              span.formElements__row-input-subTitle Default
            include ../../components/inputForm/inputForm.pug
            +inputForm('','')
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title Text Field
              span.formElements__row-input-subTitle Hover&nbsp;/&nbsp;Focus
            include ../../components/inputForm/inputForm.pug
            +inputForm('inputForm_active','This is pretty awesome')
          div.formElements__row-input-item
            include ../../components/dropDown/dropDown.pug
            +dropDown('','dropdown')
          div.formElements__row-input-item
            div.formElements__row-input-text
            include ../../components/inputFormMask/inputFormMask.pug
            +inputFormMask('masked text field')
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title date Dropdown
            include ../../components/data-dropdown/data-dropdown.pug
            +data-dropdown()
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title filter date dropdown
            include ../../components/data-dropdown/data-dropdown.pug
            +data-dropdown-filter()
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title subscription text field
            include ../../components/inputForm/inputForm.pug
            +inputFormEmail()
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title Dropdown
              span.formElements__row-input-subTitle Default
            include ../../components/dropDownBed/dropDownBed.pug
            +dropDownBed('')
          div.formElements__row-input-item
            div.formElements__row-input-text
              span.formElements__row-input-title Dropdown
              span.formElements__row-input-subTitle expanded
            include ../../components/dropDownBed/dropDownBed.pug
            +dropDownBed('dropDownBed__body_show')
          div.formElements__row-input-item
            include ../../components/checkboxList/checkboxList.pug
            +checkboxList()
          div.formElements__row-input-item
            +checkboxList('checkboxList__items_show','checkboxList__titleBtn_rotate')
          div.formElements__row-input-item
            include ../../components/textList/textList.pug
            +smile()
            +city()
        div.formElements__row-checkbox
          div.formElements__row-checkbox-item
            +checkboxButtons('Checkbox Buttons')
          div.formElements__row-checkbox-item
            include ../../components/radioButtons/radioButtons.pug
            +radioButtons('Radio Buttons')
          div.formElements__row-checkbox-item
            div.formElements__row-checkbox-item-title Toggle
            include ../../components/toggle/toggle.pug
            +toggle('Получать спецпредложения',true)
            +toggle('Получать спецпредложения',false)
          div.formElements__row-checkbox-item
            div.formElements__row-checkbox-item-title like button
            include ../../components/likeButton/likeButton.pug
            +likeButton(2,'')
          div.formElements__row-checkbox-item
            div.formElements__row-checkbox-item-title rate button
            include ../../components/rateBtn/rateBtn.pug
            +rateBtn()
          div.formElements__row-checkbox-item
            include ../../components/dropDown/dropDown.pug
            +dropDown('dropDown__body_show','dropdown')
          div.formElements__row-checkbox-item
            include ../../components/richCheckboxBtn/richCheckboxBtn.pug
            +richCheckboxBtn('rich Checkbox Buttons','Широкий коридор','Ширина коридоров в номере</br> не менее 91 см.')
          div.formElements__row-checkbox-item
            include ../../components/commentary/commentary.pug
            +commentary('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
        div.formElements__row-btn
          div.formElements__row-btn-item
            include ../../components/range-slider/range-slider.pug
            +range-slider('Range Slider')
          div.formElements__row-btn-item
            div.formElements__row-btn-item-title buttons
            include ../../components/buttons/buttons.pug
            +btnWithBackColor('CLICK ME')
          div.formElements__row-btn-item
            include ../../components/buttons/buttons.pug
            +btnWithBorder('CLICK ME')
          div.formElements__row-btn-item
            include ../../components/buttons/buttons.pug
            +btnJustName('CLICK ME')
          div.formElements__row-btn-item
            include ../../components/buttons/buttons.pug
            +btnForm('перейти к оплате')
          div.formElements__row-btn-item
            div.formElements__row-btn-item-title pagination
            include ../../components/pagination/pagination.pug
            +pagination()
          div.formElements__row-btn-item
            include ../../components/dropDown/dropDown.pug
            +dropDown('dropDown__body_show','dropdown') 
          div.formElements__row-btn-item
            div.formElements__row-btn-item-title bullet list
            include ../../components/bulletList/bulletList.pug
            +bulletList('') 
    