.commentary {
  &__item {
  }
  &__header {
    display: flex;
  }
  &__img {
    width: 48px;
    height: 48px;
  }
  &__body {
    display: flex;
    margin-top: 10px;
  }
  &__header-text {
    margin-left: 10px;
  }
  &__header-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__header-date {
  }
  &__body-text {
    width: 653px;
    margin-left: 19px;
    color: rgba(31, 32, 65, 0.75);
    font-size: 14px;
    line-height: 24px;
  }
}
