mixin colorItem(className,title,subTitle)
  section.colorItem 
    div(class='colorItem__boxColor ' + className)  
    div.colorItem__boxText 
      div.colorItem__title=title
      div.colorItem__subTitle=subTitle