.colorItem {
  display: flex;
  font-size: 19px;
  line-height: 28px;
  align-items: center;
  margin-bottom: 20px;
  &__boxColor {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }
  &__boxColor_darkShade100 {
    background-color: #1f2041;
  }
  &__boxColor_darkShade75 {
    background-color: rgba(31, 32, 65, 0.75);
  }
  &__boxColor_darkShade50 {
    background-color: rgba(31, 32, 65, 0.5);
  }
  &__boxColor_darkShade25 {
    background-color: rgba(31, 32, 65, 0.25);
  }
  &__boxColor_darkShade5 {
    background-color: rgba(31, 32, 65, 0.05);
  }
  &__boxColor_purple {
    background-color: #bc9cff;
  }
  &__boxColor_green {
    background-color: #6fcf97;
  }

  &__boxText {
  }
  &__title {

    font-weight: 700;
  }
  &__subTitle {
    font-weight: normal;
  }
}
