mixin bullet-list (options)
  - 
    const { 
      title = 'Правила',
      list = [
        "Нельзя с питомцами",
        "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00,</br>а выезд до 12:00",
      ], 
    } = options;

  div.bullet-list__title=title
    div.bullet-list__items
    -for(let item of list)
      div.bullet-list__item!=item


