mixin drop-down(options={})
  - 
    const {
      isOpen  = false,
      title = 'drop-down',
      list = [
        "взрослые",
        "дети",
        "младенцы",
      ], 
    } = options;
    const classOpen = isOpen ? 'drop-down__body_show' : ''

  section.drop-down.js-drop-down
    div.drop-down__title=title 
    div.drop-down__header
      button.drop-down__title-btn.js-drop-down__title-btn Сколько гостей

    div(class='drop-down__body  js-drop-down__body ' + classOpen)
      -for(let item of list )
        div.drop-down__bodyItem
          div.drop-down__bodyItem-title=item
          div.drop-down__bodyItem-btns 
            button.drop-down__bodyItem-btns-inc.js-drop-down__bodyItem-btns-inc#inc -
            div.drop-down__bodyItem-btns-count.js-drop-down__bodyItem-btns-count 0
            button.drop-down__bodyItem-btns-dec#dec +
            
      div.drop-down__bodyItem
        div.drop-down__bodyItem-btns-control 
            button.drop-down__bodyItem-btns-control-clean.js-drop-down__bodyItem-btns-control-clean очистить
            button.drop-down__bodyItem-btns-control-ok.js-drop-down__bodyItem-btns-control-ok применить