mixin checkboxItem(title,flag)
  li.checkboxList__item 
    label(class='checkboxList__item-check') 
            input(type="checkbox" checked=flag class='checkboxList__item-check-input')
            span.checkboxList__item-checkbox
            div.checkboxList__item-title!=title

mixin checkboxList(show,rotate,title)
  section.checkboxList
    button(class='checkboxList__titleBtn '+ rotate id='checkboxListBtn')=title
    ul(class='checkboxList__items '+ show)
      +checkboxItem('Завтрак',false)
      +checkboxItem('Письменный стол',false)
      +checkboxItem('Стул для кормления',true)
      +checkboxItem('Кроватка',true)
      +checkboxItem('Телевизор',false)
      +checkboxItem('Шампунь',false)

mixin checkboxButtons(title)
  section.checkboxList
    div.checkboxList__title=title
    ul(class='checkboxList__items checkboxList__items_show')
      +checkboxItem('Можно курить',false)
      +checkboxItem('Можно с питомцами',true)
      +checkboxItem('Можно пригласить гостей</br> (до 10 человек)',true)