.checkboxList {
  width: 266px;

  &__titleBtn {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    &::before{
      width: 30px;
      height: 30px;
      content: '';
      position:absolute;
      right: 7px;
      top: -6px;
      background: url('../../img/arrow-down.svg')no-repeat 50%;
    }
  }
  &__titleBtn_rotate{
    &::before{
      transform: rotate(180deg);
    }
  }
  &__items {
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    margin-top: 14px;
    margin-bottom: 0px;
    position: relative;
    display: none;
  }
  &__item {
    margin-bottom: 12px;
  }
  &__item-check_option{
    margin-left: 30px;
  }
  &__item-check{
  }
  &__item-check-input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
  }
  &__item-checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    left: 0px;
  }
  &__item-check-input:checked + &__item-checkbox{
    background: url('../../img/Vector.svg')no-repeat 50%;
    border-color: #BC9CFF;
  }
  &__items_show{
    display: block;
  }
}
