.registration{
  height: 684px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/sign-in.png');
  background-position: 0px -69px;
  background-repeat: no-repeat;
  background-size: cover;
  
  &__items{
    margin-left: 6px;
  }
}