@font-face{font-family:"Montserrat";src:url("./fonts/montserrat-regular/montserrat-regular.eot");src:url("./fonts/montserrat-regular/montserrat-regular.woff") format("woff"),url("./fonts/montserrat-regular/montserrat-regular.ttf") format("truetype"),url("./fonts/montserrat-regular/montserrat-regular.svg") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:"Montserrat";src:url("./fonts/montserrat-bold/montserrat-bold.eot");src:url("./fonts/montserrat-bold/montserrat-bold.woff") format("woff"),url("./fonts/montserrat-bold/montserrat-bold.ttf") format("truetype"),url("./fonts/montserrat-bold/montserrat-bold.svg") format("svg");font-weight:bold;font-style:normal}@font-face{font-family:"quicksand";src:url("./fonts/quicksand-regular/quicksand-regular.eot");src:url("./fonts/quicksand-regular/quicksand-regular.woff") format("woff"),url("./fonts/quicksand-regular/quicksand-regular.ttf") format("truetype"),url("./fonts/quicksand-regular/quicksand-regular.svg") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:"quicksand";src:url("./fonts/quicksand-bold/quicksand-bold.eot");src:url("./fonts/quicksand-bold/quicksand-bold.woff") format("woff"),url("./fonts/quicksand-bold/quicksand-bold.ttf") format("truetype"),url("./fonts/quicksand-bold/quicksand-bold.svg") format("svg");font-weight:bold;font-style:normal}
.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: flex;
  flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  z-index: 100; }
  .datepicker.-from-top- {
    transform: translateY(-8px); }
  .datepicker.-from-right- {
    transform: translateX(8px); }
  .datepicker.-from-bottom- {
    transform: translateY(8px); }
  .datepicker.-from-left- {
    transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -webkit-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -moz-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      -ms-transition: background .2s;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0;margin:0}body,h1,h2,h3,h4,p,ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0;list-style-type:none}a{text-decoration:none}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5;font-family:"Montserrat";font-size:14px}ul[class],ol[class]{list-style:none}ul{margin:0px;padding:0px}a:not([class]){-webkit-text-decoration-skip:ink;text-decoration-skip-ink:auto;text-decoration:none}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}input,button{outline:none;background-color:#fff;padding:0px;margin:0px;border:0px solid transparent}@media(prefers-reduced-motion: reduce){*{-webkit-animation-duration:.01ms !important;animation-duration:.01ms !important;-webkit-animation-iteration-count:1 !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}.btn{font-weight:bold;font-size:12px;text-transform:uppercase;display:flex}.btn__link{color:#bc9cff;border-radius:22px;display:flex;justify-content:center;align-items:center;height:44px}.btn__link:focus,.btn__link:hover,.btn__link:active{color:rgba(31,32,65,.5)}.btn__link_border{border:1px solid #bc9cff;min-width:99px;padding:0px 17px}.btn__link_border:focus,.btn__link_border:hover,.btn__link_border:active{color:#bc9cff;opacity:.5}.btn__link_background{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);color:#fff;padding:0px 20px}.btn__link_background:focus,.btn__link_background:hover,.btn__link_background:active{color:#fff;opacity:.5}.btn__link_form{background:url("./img/arrow_forward.svg") no-repeat 95.8% 50%,linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);text-transform:uppercase;color:#fff;font-weight:bold;font-size:12px;position:relative;width:100%;padding:0px 20px}.btn__link_height{height:34px}.btn__link_width{min-width:87px}.btn__link_no-img{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}.head{max-width:100%;background-color:#fff}.head__item{display:flex;justify-content:flex-end;padding:17px 141px 14px 140px;max-width:1440px;margin:0px auto;position:relative;z-index:2;justify-content:space-between}.head__list{display:flex;align-items:center;flex-wrap:wrap;margin-left:0px}.head__link{margin-right:20px}.head__link:last-child{margin-right:0px}.head__link_name{vertical-align:center;margin-left:22px}.head__link_name::before{content:"";width:1px;height:30px;background:rgba(31,32,65,.1);position:absolute;margin-left:-20px}.head__link_bold{font-weight:bold;color:#000}.head__link_downBtn{width:21px;height:11px;background:url("./../img/headDown.svg") no-repeat 3px 0px;margin-left:0px}@media(max-width: 1154px){.head__item{padding-right:30px;background:url("./../img/Logo.svg") no-repeat 30px 15px}}@media(max-width: 962px){.head__item{padding-left:30px;background:#fff url("")}.head__list{justify-content:center}.head__link{margin-bottom:10px}}.calendar{font-size:12px}.calendar__wraper{display:flex;flex-direction:column}.calendar__title{text-transform:uppercase;font-weight:bold;color:#1f2041;margin-bottom:3px}.calendar__items{display:flex}.calendar__item:nth-child(1){margin-right:20px}.calendar__input{border:1px solid rgba(31,32,65,.25);border-radius:4px;padding:8px 0 10px 16px;width:100%;font-size:15px;line-height:24px;color:rgba(31,32,65,.75)}.calendar__input::-moz-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input:-ms-input-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input::placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input:active,.calendar__input:focus,.calendar__input:hover{border:1px solid rgba(31,32,65,.5)}.calendar__buttons{display:flex;flex-direction:row;margin:16.875px 18.75px 0px 18.75px}.calendar__clear-button{cursor:pointer;display:none;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;color:#bc9cff;max-width:10rem;word-break:break-all}.calendar__clear-button:hover,.calendar__clear-button:focus{color:rgba(31,32,65,.5)}.calendar__apply-button{cursor:pointer;margin-left:auto;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;color:#bc9cff;max-width:10rem;word-break:break-all}.calendar__apply-button:hover,.calendar__apply-button:focus{color:rgba(31,32,65,.5)}.datepicker{width:-webkit-max-content;width:-moz-max-content;width:max-content;padding-bottom:1.25rem;background:#fff;border:.0625rem solid rgba(31,32,65,.25);box-sizing:border-box;box-shadow:0rem .625rem 1.25rem rgba(31,32,65,.05);border-radius:.25rem}.datepicker *{font-family:Montserrat,Arial,sans-serif}@media screen and (max-width: 20rem){.datepicker.active{border:0rem}}.datepicker.-bottom-right-,.datepicker.-bottom-right-.active{margin-left:-1.75rem}@media screen and (max-width: 20rem){.datepicker.-bottom-right-,.datepicker.-bottom-right-.active{margin-left:-3.625rem}}.datepicker.-bottom-left-,.datepicker.-bottom-left-.active{margin-left:-0.125rem}@media screen and (max-width: 20rem){.datepicker.-bottom-left-,.datepicker.-bottom-left-.active{margin-left:-2rem}}.datepicker.active{width:-webkit-max-content;width:-moz-max-content;width:max-content}.datepicker--cells{width:17.5rem}.datepicker--cell{width:2.5rem;height:2.5rem;display:flex;align-items:center;text-align:center;font-size:.75rem;line-height:.9375rem;color:rgba(31,32,65,.05) 0}.datepicker--cell-day.-focus-{border-radius:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-selected-{position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%}.datepicker--cell-day.-selected-.-focus-{background:linear-gradient(to bottom, #bc9cff, #8ba4f9)}.datepicker--cell-day.-in-range-.-focus-{border-radius:0%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-current-{display:flex;align-items:center;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border-radius:50%;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-align:center;color:#fff}.datepicker--cell-day.-current-.-focus-{color:#fff}.datepicker--cell-day.-current-.-in-range-{display:flex;align-items:center;text-align:center;position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%;border:0rem;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#fff}.datepicker--cell-day.-current-.-in-range-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-left:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-current-.-range-to-::after{background:transparent}.datepicker--cell-day.-in-range-.-other-month-,.datepicker--cell-day.-in-range-.-other-month-.-focus-{background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));color:rgba(31,32,65,.25)}.datepicker--cell-day.-range-from-,.datepicker--cell-day.-range-to-,.datepicker--cell-day.-range-from-.-current-,.datepicker--cell-day.-range-to-.-current-,.datepicker--cell-day.-range-from-.-other-month-,.datepicker--cell-day.-range-to-.-other-month-,.datepicker--cell-day.-range-from-.-other-month-.-selected-.-focus-,.datepicker--cell-day.-range-to-.-other-month-.-selected-.-focus-{display:flex;align-items:center;text-align:center;position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%;border:0rem;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#fff}.datepicker--cell-day.-range-from-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-left:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-range-to-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-right:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-range-from-.-disabled-::after,.datepicker--cell-day.-range-to-.-disabled-::after{background:transparent}.datepicker--cell-day.-in-range-{background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));color:rgba(31,32,65,.05) 0}.datepicker--cell-day.-disabled-,.datepicker--cell-day.-disabled-.-focus-{font-style:normal;font-weight:normal;color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-day.-range-from-.-other-month-.-disabled-,.datepicker--cell-day.-range-from-.-other-month-.-focus-.-disabled-,.datepicker--cell-day.-range-from-.-focus-.-disabled-,.datepicker--cell-day.-in-range-.-other-month-.-disabled-,.datepicker--cell-day.-in-range-.-other-month-.-focus-.-disabled-,.datepicker--cell-day.-in-range-.-focus-.-disabled-{color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-day.-range-from-.-disabled-,.datepicker--cell-day.-in-range-.-disabled-{color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-month,.datepicker--cell-year{width:4.375rem;height:4.375rem}.datepicker--cell-month.-focus-,.datepicker--cell-year.-focus-{border-radius:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-month.-current-,.datepicker--cell-year.-current-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);color:#fff;border-radius:50%}.datepicker--cell-month.-current-.-focus-,.datepicker--cell-year.-current-.-focus-{color:#fff}.datepicker--cell-month.-selected-,.datepicker--cell-month.-selected-.-current-,.datepicker--cell-year.-selected-,.datepicker--cell-year.-selected-.-current-{background:linear-gradient(to bottom, #bc9cff, #8ba4f9);color:#fff;border-radius:50%}.datepicker--content{padding-left:1.25rem;padding-right:1.25rem}.datepicker--nav{padding:.9375rem 1rem .9375rem 1rem;border:0rem solid transparent}.datepicker--nav-title{font-family:Quicksand,OpenSans,Arial,sans-serif;font-weight:bold;font-size:1.1875rem;line-height:1.5rem;text-align:center;color:#1f2041}.datepicker--nav-action{position:relative}.datepicker--nav-action>svg{opacity:0}.datepicker--nav-action:first-child::after{content:"";width:1.5rem;height:1.5rem;position:absolute;font-family:Material Icons;font-size:1.5rem;line-height:1.5rem;border:0rem solid transparent;background:#fff url(/img/arrow-back.svg) no-repeat 0px 0px}.datepicker--nav-action:last-child::after{content:"";width:1.5rem;height:1.5rem;position:absolute;font-family:Material Icons;font-size:1.5rem;line-height:1.5rem;border:0rem solid transparent;background:#fff url(/img/arrow-forward.svg) no-repeat 0px 0px}.datepicker--days-names{width:17.5rem;margin:.3125rem 0 0rem}.datepicker--day-name{min-width:2.5rem;height:2.5rem;display:flex;align-items:center;text-align:center;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#bc9cff;text-transform:none}.datepicker--months{height:-webkit-max-content;height:-moz-max-content;height:max-content}.datepicker--months>.datepicker--cells-months{height:-webkit-max-content;height:-moz-max-content;height:max-content;display:flex;justify-content:space-between}.datepicker--years{height:-webkit-max-content;height:-moz-max-content;height:max-content}.datepicker--years>.datepicker--cells-years{height:-webkit-max-content;height:-moz-max-content;height:max-content;display:flex;justify-content:space-between}.drop-down{display:flex;flex-direction:column;width:100%}.drop-down__title{font-weight:bold;font-size:12px;text-transform:uppercase;margin-bottom:0px}.drop-down__titleBtn{display:flex;justify-content:space-between;align-items:center;padding:11px 0px 9px 12px;font-size:14px;line-height:23px;border:1px solid rgba(31,32,65,.25);color:rgba(31,32,65,.75);border-radius:4px 4px 0px 0px;width:100%;background:url(./img/arrow-down.svg) no-repeat 97% 40%}.drop-down__titleBtn-img{margin-right:9px}.drop-down__body{padding:3px 7px 5px 15px;border:1px solid rgba(31,32,65,.25);border-radius:0px 0px 4px 4px;display:none}.drop-down__body_show{display:block}.drop-down__bodyItem{text-transform:uppercase;font-weight:bold;font-size:12px;line-height:16px;display:flex;justify-content:space-between;align-items:center;margin-bottom:8px}.drop-down__bodyItem-btns{display:flex;justify-content:space-between;align-items:center;width:92px}.drop-down__bodyItem-btns-inc{width:30px;height:30px;border-radius:50%;color:rgba(31,32,65,.5);border:1px solid rgba(31,32,65,.25)}.drop-down__bodyItem-btns-count{font-size:12px;line-height:16px}.drop-down__bodyItem-btns-dec{width:30px;height:30px;border-radius:50%;color:rgba(31,32,65,.5);border:1px solid rgba(31,32,65,.5)}.drop-down__bodyItem-btns-control-clean{text-transform:uppercase;color:#bc9cff;font-weight:bold;font-size:13px;visibility:hidden}.drop-down__bodyItem-btns-control-clean_show{visibility:visible}.drop-down__bodyItem-btns-control-ok{text-transform:uppercase;color:#bc9cff;font-weight:bold;font-size:12px;line-height:15px}.drop-down__bodyItem-btns-control{margin-top:11px;width:100%;display:flex;justify-content:space-between}.drop-down__bodyItem-btns-inc_active{border:1px solid rgba(31,32,65,.5)}.input-form{border:1px solid rgba(31,32,65,.25);border-radius:4px;padding:9px 0 10px 16px;font-size:13.5px;line-height:24px;color:rgba(31,32,65,.75);width:100%}.input-form::-moz-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.input-form:-ms-input-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.input-form::placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.input-form:active,.input-form:focus,.input-form:hover{border:1px solid rgba(31,32,65,.5)}.input-form__email-btn{width:44px;height:44px;background:url("./img/arrow-forward.svg") no-repeat 50%;position:absolute;z-index:3;right:0px}.input-form_width-260{max-width:260px}.input-form_email{width:100%}.input-formEmail{position:relative;width:267px}.input-form_active{border:1px solid rgba(31,32,65,.5)}.footer-navigation{width:100%}.footer-navigation__title{text-transform:uppercase;font-weight:bold;font-size:12px;color:#000;text-transform:uppercase}.footer-navigation__list{margin-top:20px;font-weight:normal;font-size:14px;line-height:17px;color:rgba(31,32,65,.5)}.subscription__title{text-transform:uppercase;font-weight:bold;font-size:12px;color:#000;text-transform:uppercase}.subscription__text{margin-top:15px;font-weight:normal;font-size:14px;line-height:24px;color:rgba(31,32,65,.5);margin-bottom:22px}.footer{width:100%;background-color:#fff;color:rgba(31,32,65,.5);position:relative}.footer::before{content:"";width:100%;height:1px;background-color:#e5e5e5;position:absolute;bottom:68px}.footer__warp{padding:99px 140px 0px 140px;max-width:1440px;margin:0px auto}.footer__body{display:flex;margin-bottom:128px;width:100%}.footer__nav{margin-top:4px;display:flex;width:100%;justify-content:space-between}.footer__text{font-size:14px;line-height:24px;padding-top:57px;background:url("./img/Logo.svg") no-repeat 0px 0px;max-width:260px;margin-right:40px}.footer__list{font-weight:bold;font-size:12px;color:#000;text-transform:uppercase}.footer__icon{display:flex;justify-content:space-between;height:43px}.footer__icons{display:flex}.footer__icons a{margin-left:20px}@media(max-width: 1254px){.footer__list:nth-child(1){margin-right:20px}.footer__list:nth-child(2){margin-right:20px}.footer__list:nth-child(3){margin-right:20px}.footer__body{flex-wrap:wrap;justify-content:center}.footer__text{margin-bottom:20px}}@media(max-width: 1024px){.footer__nav{flex-wrap:wrap;justify-content:center}.footer__list{margin-bottom:20px}}@media(max-width: 768px){.footer{padding-bottom:100px}.footer::before{content:none}.footer__text{color:transparent;width:107px;height:40px;margin-bottom:0px}.footer__nav{display:none}.footer__body{margin-bottom:3px}.footer__icon{flex-direction:column}.footer__ico-text{align-self:center;margin-bottom:24px;margin-left:-17px}.footer__icons{align-self:center;margin-bottom:25px;margin-left:-38px}}@media(max-width: 662px){.footer{padding-bottom:50px}.footer__warp{padding:50px 50px 0px 50px}}.calendar{font-size:12px}.calendar__wraper{display:flex;flex-direction:column}.calendar__title{text-transform:uppercase;font-weight:bold;color:#1f2041;margin-bottom:3px}.calendar__items{display:flex}.calendar__item:nth-child(1){margin-right:20px}.calendar__input{border:1px solid rgba(31,32,65,.25);border-radius:4px;padding:8px 0 10px 16px;width:100%;font-size:15px;line-height:24px;color:rgba(31,32,65,.75)}.calendar__input::-moz-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input:-ms-input-placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input::placeholder{color:rgba(31,32,65,.25);font-size:14px;line-height:18px}.calendar__input:active,.calendar__input:focus,.calendar__input:hover{border:1px solid rgba(31,32,65,.5)}.calendar__buttons{display:flex;flex-direction:row;margin:16.875px 18.75px 0px 18.75px}.calendar__clear-button{cursor:pointer;display:none;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;color:#bc9cff;max-width:10rem;word-break:break-all}.calendar__clear-button:hover,.calendar__clear-button:focus{color:rgba(31,32,65,.5)}.calendar__apply-button{cursor:pointer;margin-left:auto;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-transform:uppercase;color:#bc9cff;max-width:10rem;word-break:break-all}.calendar__apply-button:hover,.calendar__apply-button:focus{color:rgba(31,32,65,.5)}.datepicker{width:-webkit-max-content;width:-moz-max-content;width:max-content;padding-bottom:1.25rem;background:#fff;border:.0625rem solid rgba(31,32,65,.25);box-sizing:border-box;box-shadow:0rem .625rem 1.25rem rgba(31,32,65,.05);border-radius:.25rem}.datepicker *{font-family:Montserrat,Arial,sans-serif}@media screen and (max-width: 20rem){.datepicker.active{border:0rem}}.datepicker.-bottom-right-,.datepicker.-bottom-right-.active{margin-left:-1.75rem}@media screen and (max-width: 20rem){.datepicker.-bottom-right-,.datepicker.-bottom-right-.active{margin-left:-3.625rem}}.datepicker.-bottom-left-,.datepicker.-bottom-left-.active{margin-left:-0.125rem}@media screen and (max-width: 20rem){.datepicker.-bottom-left-,.datepicker.-bottom-left-.active{margin-left:-2rem}}.datepicker.active{width:-webkit-max-content;width:-moz-max-content;width:max-content}.datepicker--cells{width:17.5rem}.datepicker--cell{width:2.5rem;height:2.5rem;display:flex;align-items:center;text-align:center;font-size:.75rem;line-height:.9375rem;color:rgba(31,32,65,.05) 0}.datepicker--cell-day.-focus-{border-radius:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-selected-{position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%}.datepicker--cell-day.-selected-.-focus-{background:linear-gradient(to bottom, #bc9cff, #8ba4f9)}.datepicker--cell-day.-in-range-.-focus-{border-radius:0%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-current-{display:flex;align-items:center;background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);border-radius:50%;font-weight:bold;font-size:.75rem;line-height:.9375rem;text-align:center;color:#fff}.datepicker--cell-day.-current-.-focus-{color:#fff}.datepicker--cell-day.-current-.-in-range-{display:flex;align-items:center;text-align:center;position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%;border:0rem;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#fff}.datepicker--cell-day.-current-.-in-range-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-left:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-current-.-range-to-::after{background:transparent}.datepicker--cell-day.-in-range-.-other-month-,.datepicker--cell-day.-in-range-.-other-month-.-focus-{background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));color:rgba(31,32,65,.25)}.datepicker--cell-day.-range-from-,.datepicker--cell-day.-range-to-,.datepicker--cell-day.-range-from-.-current-,.datepicker--cell-day.-range-to-.-current-,.datepicker--cell-day.-range-from-.-other-month-,.datepicker--cell-day.-range-to-.-other-month-,.datepicker--cell-day.-range-from-.-other-month-.-selected-.-focus-,.datepicker--cell-day.-range-to-.-other-month-.-selected-.-focus-{display:flex;align-items:center;text-align:center;position:relative;background:linear-gradient(to bottom, #bc9cff, #8ba4f9);border-radius:50%;border:0rem;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#fff}.datepicker--cell-day.-range-from-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-left:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-range-to-::after{content:"";z-index:-1;width:50%;height:inherit;position:absolute;margin-right:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-day.-range-from-.-disabled-::after,.datepicker--cell-day.-range-to-.-disabled-::after{background:transparent}.datepicker--cell-day.-in-range-{background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));color:rgba(31,32,65,.05) 0}.datepicker--cell-day.-disabled-,.datepicker--cell-day.-disabled-.-focus-{font-style:normal;font-weight:normal;color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-day.-range-from-.-other-month-.-disabled-,.datepicker--cell-day.-range-from-.-other-month-.-focus-.-disabled-,.datepicker--cell-day.-range-from-.-focus-.-disabled-,.datepicker--cell-day.-in-range-.-other-month-.-disabled-,.datepicker--cell-day.-in-range-.-other-month-.-focus-.-disabled-,.datepicker--cell-day.-in-range-.-focus-.-disabled-{color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-day.-range-from-.-disabled-,.datepicker--cell-day.-in-range-.-disabled-{color:rgba(31,32,65,.25);background:transparent}.datepicker--cell-month,.datepicker--cell-year{width:4.375rem;height:4.375rem}.datepicker--cell-month.-focus-,.datepicker--cell-year.-focus-{border-radius:50%;background:linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25))}.datepicker--cell-month.-current-,.datepicker--cell-year.-current-{background:linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);color:#fff;border-radius:50%}.datepicker--cell-month.-current-.-focus-,.datepicker--cell-year.-current-.-focus-{color:#fff}.datepicker--cell-month.-selected-,.datepicker--cell-month.-selected-.-current-,.datepicker--cell-year.-selected-,.datepicker--cell-year.-selected-.-current-{background:linear-gradient(to bottom, #bc9cff, #8ba4f9);color:#fff;border-radius:50%}.datepicker--content{padding-left:1.25rem;padding-right:1.25rem}.datepicker--nav{padding:.9375rem 1rem .9375rem 1rem;border:0rem solid transparent}.datepicker--nav-title{font-family:Quicksand,OpenSans,Arial,sans-serif;font-weight:bold;font-size:1.1875rem;line-height:1.5rem;text-align:center;color:#1f2041}.datepicker--nav-action{position:relative}.datepicker--nav-action>svg{opacity:0}.datepicker--nav-action:first-child::after{content:"";width:1.5rem;height:1.5rem;position:absolute;font-family:Material Icons;font-size:1.5rem;line-height:1.5rem;border:0rem solid transparent;background:#fff url(/img/arrow-back.svg) no-repeat 0px 0px}.datepicker--nav-action:last-child::after{content:"";width:1.5rem;height:1.5rem;position:absolute;font-family:Material Icons;font-size:1.5rem;line-height:1.5rem;border:0rem solid transparent;background:#fff url(/img/arrow-forward.svg) no-repeat 0px 0px}.datepicker--days-names{width:17.5rem;margin:.3125rem 0 0rem}.datepicker--day-name{min-width:2.5rem;height:2.5rem;display:flex;align-items:center;text-align:center;font-weight:bold;font-size:.75rem;line-height:.9375rem;color:#bc9cff;text-transform:none}.datepicker--months{height:-webkit-max-content;height:-moz-max-content;height:max-content}.datepicker--months>.datepicker--cells-months{height:-webkit-max-content;height:-moz-max-content;height:max-content;display:flex;justify-content:space-between}.datepicker--years{height:-webkit-max-content;height:-moz-max-content;height:max-content}.datepicker--years>.datepicker--cells-years{height:-webkit-max-content;height:-moz-max-content;height:max-content;display:flex;justify-content:space-between}.drop-down{display:flex;flex-direction:column;width:100%}.drop-down__title{font-weight:bold;font-size:12px;text-transform:uppercase;margin-bottom:0px}.drop-down__titleBtn{display:flex;justify-content:space-between;align-items:center;padding:11px 0px 9px 12px;font-size:14px;line-height:23px;border:1px solid rgba(31,32,65,.25);color:rgba(31,32,65,.75);border-radius:4px 4px 0px 0px;width:100%;background:url(./img/arrow-down.svg) no-repeat 97% 40%}.drop-down__titleBtn-img{margin-right:9px}.drop-down__body{padding:3px 7px 5px 15px;border:1px solid rgba(31,32,65,.25);border-radius:0px 0px 4px 4px;display:none}.drop-down__body_show{display:block}.drop-down__bodyItem{text-transform:uppercase;font-weight:bold;font-size:12px;line-height:16px;display:flex;justify-content:space-between;align-items:center;margin-bottom:8px}.drop-down__bodyItem-btns{display:flex;justify-content:space-between;align-items:center;width:92px}.drop-down__bodyItem-btns-inc{width:30px;height:30px;border-radius:50%;color:rgba(31,32,65,.5);border:1px solid rgba(31,32,65,.25)}.drop-down__bodyItem-btns-count{font-size:12px;line-height:16px}.drop-down__bodyItem-btns-dec{width:30px;height:30px;border-radius:50%;color:rgba(31,32,65,.5);border:1px solid rgba(31,32,65,.5)}.drop-down__bodyItem-btns-control-clean{text-transform:uppercase;color:#bc9cff;font-weight:bold;font-size:13px;visibility:hidden}.drop-down__bodyItem-btns-control-clean_show{visibility:visible}.drop-down__bodyItem-btns-control-ok{text-transform:uppercase;color:#bc9cff;font-weight:bold;font-size:12px;line-height:15px}.drop-down__bodyItem-btns-control{margin-top:11px;width:100%;display:flex;justify-content:space-between}.drop-down__bodyItem-btns-inc_active{border:1px solid rgba(31,32,65,.5)}.btn{font-weight:bold;font-size:12px;text-transform:uppercase;display:flex}.btn__link{color:#bc9cff;border-radius:22px;display:flex;justify-content:center;align-items:center;height:44px}.btn__link:focus,.btn__link:hover,.btn__link:active{color:rgba(31,32,65,.5)}.btn__link_border{border:1px solid #bc9cff;min-width:99px;padding:0px 17px}.btn__link_border:focus,.btn__link_border:hover,.btn__link_border:active{color:#bc9cff;opacity:.5}.btn__link_background{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);color:#fff;padding:0px 20px}.btn__link_background:focus,.btn__link_background:hover,.btn__link_background:active{color:#fff;opacity:.5}.btn__link_form{background:url("./img/arrow_forward.svg") no-repeat 95.8% 50%,linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);text-transform:uppercase;color:#fff;font-weight:bold;font-size:12px;position:relative;width:100%;padding:0px 20px}.btn__link_height{height:34px}.btn__link_width{min-width:87px}.btn__link_no-img{background:linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%)}.room-search{display:flex;flex-direction:column;max-width:380px;border:1px solid rgba(0,0,0,.12);box-shadow:0px 0px 25px rgba(0,0,0,.2);border-radius:4px;padding:38px 30px 28px 29px;background-color:#fff}.room-search__title{font-weight:bold;font-size:24px;margin-bottom:21px;line-height:29px}.room-search__item{width:100%}.room-search__item:nth-child(2){margin-bottom:20px}.room-search__item:nth-child(3){margin-bottom:33px}.background{max-width:1440px;height:830px;margin:0px auto;padding:70px 151px 20px 140px;position:relative;background:url("./../img/index.png") 0px -71px no-repeat}.background__text{color:rgba(31,32,65,.75);position:absolute;right:135px;bottom:24px;text-align:right;line-height:24px}@media(max-width: 532px){.background{padding:70px 0px 20px 0px}.background__text{right:15px}}
