include ../price-and-number/price-and-number.pug
include ../rate-btn/rate-btn.pug

mixin slide(options = {})
  -
    const {
      img = ['./img/roomDetail/image.png',
        './img/photo/image-2.png',
        './img/photo/image-3.png',
        './img/photo/image-4.png'],
      number = '888',
      pay = '9 990₽',
      rating = { 
        blockNumber : 0,
        checkedStarIndex : 0,
      },
      review = '145',
    } = options;

  div.rev
    div.rev_slide 
      -for(let i=0;i<img.length;i++)
        div.rev_slide__item
          img(class='rev_slide__img' src=img[i], alt="")
    div.rev_slide__footer
      div.rev_slide__footer-text
        +price-and-number(number,pay)
      div.rev_slide__footer-rating
        +rate-btn(rating)
        a(href='room-details.html').rev_slide__footer-review=review