include ../textPayAndNumber/textPayAndNumber.pug
include ../rateBtn/rateBtn.pug

mixin slide(img,number,pay,rating,review)
  div.rev
    div.rev_slide 
      -for(let i=0;i<img.length;i++)
        div.rev_slide__item
          img(src=img[i], alt="")
    div.rev_slide__footer
      div.rev_slide__footer-text
        +textPayAndNumber(number,pay)
      div.rev_slide__footer-rating
        +rateBtn(rating)
        a(href='roomDetails.html').rev_slide__footer-review=review