mixin roomSearch(title)
  section.roomSearch
    div.roomSearch__title=title 
    div.roomSearch__item 
      include ../twoInputRange/twoInputRange.pug
      +twoInputRange()
    div.roomSearch__item 
      include ../dropDown/dropDown.pug
      +dropDown('','гости')
    div.roomSearch__item 
     include ../buttons/buttons.pug
     +btnForm('подобрать номер','')