mixin rate-btn(number)
  div(class='rating' data-total-value=number)
    div(class='rating__item' data-item-value='5') 
    div(class='rating__item' data-item-value='4') 
    div(class='rating__item' data-item-value='3') 
    div(class='rating__item' data-item-value='2') 
    div(class='rating__item' data-item-value='1') 