mixin color-item(className,title,subTitle)
  section.color-item 
    div(class='color-item__boxColor ' + className)  
    div.color-item__boxText 
      div.color-item__title=title
      div.color-item__subTitle=subTitle