mixin color-item(options={})
  -
    const {
      colorName = '',
      colorCode = '#1F2041',
      backgroundColor = '',
    } = options;

    const colorClass = `color-item__box-color_${backgroundColor}`;
  
  section.color-item 
    div(class='color-item__box-color ' + colorClass)  
    div.color-item__boxText 
      div.color-item__title=colorName
      div.color-item__sub-title=colorCode